

body {
	background-image: url('../images/purple.jpg'); 
	/*background: radial-gradient(ellipse, purple, blue);*/
	background-size: cover;
 	/*background-repeat:no-repeat;*/
	color: #bd7fd8;
	background-color: #2c1235;
	font-family: font37282;
	font-size: 34px;
	font-weight: bold;

}

.panel-body {
	border-style: solid;
	margin-top: 20px;
	background-color: black;
	min-height: 80px;
	/*font-size: 32px;*/
	border-color: #bd7fd8;
	color: lightgreen;
	padding-top: 20px;
	text-align: center;
	vertical-align: center;
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
}

h1 {
	font-weight: bold;
	padding-top: 20px;
}

#score {
	background-color: black;
	display: inline-block;
	padding: 10px;
	border-style: solid;
	margin-bottom: 30px;
}

#mainTitle {
	font-family: trebuchet;
	font-size: 60px;
}