

.container-fluid {
	width: 98%;
}

body {
	background-image: url('../images/purple.jpg'); 
	background-size: cover;
 	background-repeat:no-repeat;
	color: #bd7fd8;
	background-color: #2c1235;

}

.panel-body {
	border-style: solid;
	margin-top: 20px;
	background-color: black;
	height: 80px;
	font-size: 22px;
	border-color: #bd7fd8;
	color: lightgreen;
	padding-top: 20px;
}

