.jumbotron {
	margin-top: 20px;
	background-color: black;
	background-opacity: .01;
	width: 99%;
	height: 95vh;
	color: green;
	/*height: 100px;*/
}

.container-fluid {
	width: 98%;
}

body {
	background-image: url('../images/purple.jpg'); 
	background-size: 100%;
 	/*background-repeat:no-repeat;*/
	color: #bd7fd8;
	background-color: #4d1c5d;
}

.panel-body {
	border-style: solid;
	margin-top: 20px;
	background-color: black;
	height: 80px;
	font-size: 22px;
	border-color: #bd7fd8;
	color: lightgreen;
	padding-top: 20px;

}